.container {
    min-height:100vh;
    display:grid;
    display:-ms-grid;
    display:-moz-grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    align-content:center;
    background-color:rgb(250, 250, 250);
}

.container > h1{
    text-align:center;
    font-size:1.7rem;
    font-weight:400;
}